{% extends 'layout.html'%}

{% block contenta %}
<div class="contenta">
<div class="container" >
<div class="card text-center">
    <div class="card-body" >
        <br><br><br>
      <h2 class="text">MEBECON</h2>
      <h4>Disease prediction and classification app</h4>
      <br>
      <!--<H3 class="text1">Enjoy your time here!</H3>--->
      <br><br>
      <form action="{{ url_for('temp')}}" method="post" name="form">
          <input type="text" name="Age" placeholder="Enter Age" required="required" />
          <input type="text" name="Estimate" placeholder="Enter estimate" required="required">
          <button type="submit" class="btn">Predict</button>
      </form>
      <br><br>
      {{ prediction_text }}
    </div>
  </div>
</div>
</div>
<div  align="center" class="im">
 <!---<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1056306558-1-1562871371.jpg?crop=0.425xw:0.974xh;0.515xw,0.00373xh&resize=640:*" height=250px width=600px; >-->
</div>
<br><br><br><br><br><br><br>
<marquee style="font-size:18px;background-color:#20B2AA;color:black;font-weight:bold;"direction="alternate right" scrolldelay=10>Not feeling well? Let's check out what your disease is</marquee>

<script src="{{url_for('static',filename='main.js')}}"></script>
{% endblock contenta %}
{%block contentb%} 
{%endblock contentb%}