.contenta .card-body{
    background-color:#92a8d1;
    border:2px solid silver;
    color: black;
    font-weight:bold;
}
/*.contenta a{
    font-size:30px;
}*/
.text{
font-size:50px;
font-weight:bold;
}
.text1{
    font-size:30px;
    font-weight:bold;
}
audio{
outline:none;

}
.aud{
top:25%;
left:50%;
}
.contenta .bkdisp{
text-shadow:1px 5px black;
background-color:gold;
text-align:center;
font-size:50px;
border:10px dashed orangered;
font-weight:bold;
color:black;

}
.contenta .hd{
color:gold;
font-size:40px;
text-align:center;
}
.contenta .bkdisp:hover{
    background-color:black;
    border:10px dotted goldenrod;
    
}
.hash{
    text-shadow:1px 5px silver;
    text-decoration:none;
    color:black;

}
.hash:hover{
    color:gold;
}
body{
background-color:#2d436c;
/* background:linear-gradient(to right,#4b6cb7,#182848); */
/* background:linear-gradient(to right,#000000,#434343); */

}

#controls{
    top:100%;
    left:50%;
    border: 8px solid navy;
    background-color: #92a8d1;
    margin: auto;
    width: 50%;
}

.mndisp{
    color:black;
    text-align:center;
    font-weight:bold;
    font-size:20px;
    }

.mndisp a{
    text-decoration: none;
    /*background-color: black;*/
    background-image: linear-gradient(92.83deg, #4169E1 0, #1E90FF 100%);
    color: white;
    padding: 15px 70px;
    text-decoration: none;
    font-weight: bold;
}
    #recordingsList a{
    text-decoration:none;
    color:white;
    padding:12px 12px;
    /*background-color:darkblue;*/
    background-image: linear-gradient(92.83deg, #4169E1 0, #1E90FF 100%);
    font-weight:bold;
    font-size:20px;
    /*border-radius: 20px/50px;*/
    border-radius:8px;
    transition: all 0.3s ease-out;
    border: 3px solid #4169E1;
    }
    #recordingsList a:hover{
        background-color:#1E90FF;
        color:darkblue;
    }
    
    
    /*.but{
        background-color: black;
        border-radius: 30px;
        width:40%;
        padding:10px 30px;
        display:block;
        margin:auto;
        border:0;
         background:linear-gradient(to right,gold,orange); 
        outline:none;
        font-size:15px;
        font-weight:bold;
        color:silver;
        transition: all 0.3s ease-out;
    }*/
.but {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display:block;
  flex-direction: row;
  flex-shrink: 0;
  font-family:sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: auto;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /*vertical-align: middle;*/
  width: 40%;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .but{
    padding: 19px 32px;
  }
}

.but:before,
.but:after {
  border-radius: 10px;
}

.but:before {
  background-image: linear-gradient(92.83deg, #4169E1 0, #1E90FF 100%);
  /*background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);*/
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  justify-content: center;
}

.but:after {
  background-color: initial;
  background-image: linear-gradient(#4b70b4 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.but:hover:not(:disabled):before {
  /*background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);*/
  background: linear-gradient(92.83deg, #00BFFF 0%, #1E90FF 100%)
}

.but:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.but:active:not(:disabled) {
  color: #ccc;
}

.but:active:not(:disabled):before {
  /*background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);*/
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #00BFFF 0, #1E90FF 100%);
}

.but:active:not(:disabled):after {
  /*background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);*/
  background-image: linear-gradient(92.83deg, #4169E1 0, #1E90FF 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.but:disabled {
  cursor: default;
  opacity: .24;
}
    
    audio{
    outline:none;
    
    }
    
    
    audio:hover{
        /*box-shadow: 3px 3px #1E90FF;*/
        outline:none;
        background-color:#1E90FF;
        border-radius:7px 7px 7px 7px ;
        transform: scale(1.1);
    }
    audio::-webkit-media-controls-panel:hover{
        background-color: #1E90FF;
        /* background:linear-gradient(to right,orange,gold); */
    }
    audio::-webkit-media-controls-play-button{
        background-color:red;}
        audio::-webkit-media-controls-play-button:hover{
            background-color:lawngreen;}
    /*audio::-webkit-media-controls-timeline{
            background-color:green;}
            audio::-webkit-media-controls-volume-slider{
                background-color:green;
            }*/
            audio::-webkit-media-controls-panel{
                background-color: #92a8d1;
                /* background:linear-gradient(to right,orange,gold); */
            }
.med_title{
    text-align: center;
    padding-top: 20px;
    color: black;
    font-weight: bold;
    border-bottom:8px solid navy;
}

.vid-btn {
    background-color:black;
    color:silver;
    padding: 15px 25px;
    text-align:center;
    font-weight:bold;
    text-decoration: none;
  }

.t1{
    font-weight: bold;
    top:100%;
    left:50%;
    border: 8px solid #20B2AA;
    background-color: #20B2AA;
    margin: auto;
    width: 50%;
    font-size: 40px;
}

.t{
    font-weight: bold;
    top:100%;
    left:50%;
    margin: auto;
    width: 50%;
    font-size: 18px;
    padding-left: 10px;
}
.info{
    left: 50%;
}
.info .t{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pred{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

#sw{
    font-weight: bold;
    font-size: 20px;
}

.t2{
    font-weight: bold;
    top:100%;
    left:50%;
    border: 8px solid #20B2AA;
    background-color: #20B2AA;
    margin: auto;
    width: 50%;
    font-size: 30px;
    text-align:center;
}
.anc{
text-align:center;
padding:15px 25px
}